# Copyright © 2018 DIG Development team. All rights reserved.

# Ignore local npm modules and logs
node_modules
npm-debug.log

# Ignore local configuration
config/local.json

# Ignore all md files
*.md

# Ignore all hidden files (git, travis, docker, etc)
.*

# Ignore all docker files
Dockerfile
docker-compose*.yml
