# Ignore local npm modules and logs
node_modules/
npm-debug.log

# Ignore all md files
*.md

# Ignore all hidden files (git, travis, docker, etc)
.*

# Ignore all docker files
Dockerfile
docker-compose.yml

dist/
data/
temp/
