{
  "showPerfStats"    : true,

  "botUserID"        : "",
  "subBots"          : {
    "bot2": {
      "id"   : "",
      "token": ""
    }
  },

  "token"            : "",
  "youtubeKey"       : "",

  "commandChannels": [
    "YOUR COMMAND CHANNEL ID"
  ],

  "guilds": {
    "YOUR GUILD ID": {
      "adminRoles": [
        "YOUR ADMIN ROLE ID"
      ]
    }
  },

  "general"          : {
    "adminsRoleID"       : "",
    "devRoleID"          : "",
    "forcedPTTRoleID"    : "",
    "herebedragonsRoleID": "",
    "server"             : "",
    "staffRoleID"        : "",
    "superMuteRoleID"    : "",
    "leaderRoles"        : [
      ""
    ],
  },

  "channels"         : {
    "mappings" : {
      "developers"   : "",
      "digbot"       : "",
      "general"      : "",
      "staff"        : ""
    }
  }
}
