{
  "showPerfStats"    : true,

  "botUserID"        : "",
  "subBots"          : {
    "bot2": {
      "id"   : "",
      "token": ""
    }
  },

  "token"            : "",
  "youtubeKey"       : "",

  "commandChannels": [
    "YOUR COMMAND CHANNEL ID"
  ],

  "guilds": {
    "YOUR GUILD ID": {
      "adminRoles": [
        "YOUR ADMIN ROLE ID"
      ],
      "modularChannelCategory": "",
      "ps2CharacterClaimer"   : {
        "outfit"       : "37509488620604883 <- ID for DIG",
        "filterRank"   : [
          "Leader"
        ],
        "role"         : "",
        "excludedRoles": [
          ""
        ],
        "useName"      : true,
        "automatic"    : true
      }
    },
    "supermuteRole" : "",
    "dragonRole" : "",
    "ignoreAutoAssignmentRole" : "",
    "autoRoleAssignment" : {
      "Planetside 2" : ""
    },
    "onRoleAssignment" : {
      "269844100168155141" : [
        {
          "type" : "message",
          "channel" : "",
          "content" : "${member} has been granted access here. Note, this channel is lawless. If you get triggered, the community staff cannot help you."
        }
      ]
    }
  },

  "general"          : {
    "adminsRoleID"       : "",
    "devRoleID"          : "",
    "forcedPTTRoleID"    : "",
    "herebedragonsRoleID": "",
    "server"             : "",
    "staffRoleID"        : "",
    "superMuteRoleID"    : "",
    "leaderRoles"        : [
      ""
    ],
  },

  "channels"         : {
    "mappings" : {
      "developers"   : "",
      "digbot"       : "",
      "general"      : "",
      "staff"        : ""
    }
  }
}
